<div class="container rounded bg-white mt-5 mb-5"  >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

  <div class="row" id="print-me">
    <div class="col-md-3 border-right">
      <div class="col-md-6" >
        <label class="labels">N°demnade de travaux </label>
        <input
          type="number"
          [(ngModel)]="Newintervention.Numdemande"
          class="form-control"
          name="Numdemande"
        />
      </div>
      <div class="col-md-6">
        <label class="labels">Num Intervention </label>
        <input
          type="number"
          [(ngModel)]="Newintervention.Numintervention"
          class="form-control"
          name="Numintervention"
        />
      </div>
      <div class="col-md-6">
        <label class="labels">Durée d'intervention </label>
        <input
          type="number"
          [(ngModel)]="Newintervention.Dureeintervention"
          class="form-control"
          name="Dureeintervention"
        />
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Fiche d'intervention</h4>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Techniciens Intervenants</label
            ><input
              type="text"
              [(ngModel)]="Newintervention.Techniciensintervenants"
              class="form-control"
              name="Techniciensintervenants"
            />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels">Equipement</label>
            <input
              type="text"
              [(ngModel)]="Newintervention.Equipement"
              class="form-control"
              name="Equipement"
            />
          </div>
          <div class="col-md-6">
            <label class="labels">Marque </label>
            <input
              type="text"
              [(ngModel)]="Newintervention.Marque"
              class="form-control"
              name="Marque"
            />
          </div>
          <div class="col-md-6">
            <label class="labels">Modele</label>
            <input 
              type="text"
              [(ngModel)]="Newintervention.Modele"
              class="form-control"
              name="Modele"
            />
          </div>
          <div class="col-md-6">
            <label class="labels">Num°serie</label>
            <input 
              type="number"
              [(ngModel)]="Newintervention.Numserie"
              class="form-control"
              name="Numserie"
            />
          </div>
          <div class="col-md-6">
            <label class="labels">Service affecté</label>
            <input 
              type="text"
              [(ngModel)]="Newintervention.serviceaffecter"
              class="form-control"
              name="serviceaffecter"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Défaut Constaté </label>
          <textarea
            class="form-control"
            [(ngModel)]="Newintervention.DefautConstater"
            name="DefautConstater"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1"
            >Compte-rendu des travaux
          </label>
          <textarea
            class="form-control" 
            [(ngModel)]="Newintervention.Compterendu"
            name="Compterendu"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
        <div class="form-group"> 
          <label for="exampleFormControlTextarea1">Observations</label>
          <textarea
            class="form-control"
            [(ngModel)]="Newintervention.Observations"
            name="Observations"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>

        <button (click)="addintervention()" class="btn btn-success"><i class="fa-solid fa-box-archive"></i>
          Enregistrer
        </button>
        <button  type ="submit" class="btn btn-primary" printSectionId="print-me" ngxPrint><i class="fa-solid fa-print"></i> Imprimer </button>
              

      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 py-5"> 
        <div class="d-flex justify-content-between align-items-center mb-3"  >
          <h6 class="text-right">PIECES REMPLACEES</h6>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels">Désignation </label>
            <input
              type="text"
              [(ngModel)]="Newintervention.Designation"
              class="form-control"
              name="Designation"
            />
          </div>
          <div class="col-md-6">
            <label class="labels">Quantité</label>
            <input required
              type="number"
              [(ngModel)]="Newintervention.Quantite"
              class="form-control"
              name="Quantite"
            />
          </div>

          <label for="start">Date remise en service </label>
          <input 
            id="date"
            type="date"
            [(ngModel)]="Newintervention.Dateremiseenservice"
            name="date"
          />
        </div>
      </div>
    </div>
  </div>
</div>
