<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title></title>
</head>

<body>
  <div style="min-height:460px">
    <div id="left"><br><strong>
        <h1>L’innovation au service de votre spécialité, de votre pratique et de vos usages !</h1>
      </strong><br>

      <h4> Avec <mark><strong> Smart Médical </strong></mark> , nous simplifions votre gestion médicale, nous apportons
        une solution clés en mains et nous garantissons une optimisation de votre temps médical.</h4>
      <ul>

        <li> Interface Ergonomique<br>
          <span>Prise en main rapide/Facilité d'utilisation</span>
        </li>
        <li> Solution Ouverte<br><span>Synchroniser vos partenaires facilement</span></li>

      </ul>
    </div>
    <div id="right">
      <p><img src="assets/images/Capture.PNG"> </p>
    </div>
  </div>



  <section class="cards" id="services">
    <h2 class="title">Services</h2>
    <div class="content">
      <div class="card">
        <div class="icon">
          <i class="fa-solid fa-clock"></i>
        </div>
        <div class="info">
          <h3>Gangner du Temps</h3>
          <p>L'informatique fait gagner considérablement du temps, du fait de l'automatisation et de la centralisation
            des informations.
            Par exemple , les recherches d'information se font plus rapidement
          </p>
        </div>

      </div>
      <div class="card">
        <div class="icon">
          <i class="fa-solid fa-info"></i>
        </div>
        <div class="info">
          <h3>Eviter la perte d'informations</h3>
          <p>Les outils numériques ont une meilleure mémoire que les humains et nous permettant donc, à condition de
            disposer d'un systéme rigoureux et d'une bonne organisation , de ne jamais rien égarer.</p>
        </div>

      </div>
      <div class="card">
        <div class="icon">
          <i class="fa-solid fa-triangle-exclamation"></i>
        </div>
        <div class="info">
          <h3>Eviter les erreurs</h3>
          <p>"L'erreur est humaine!"... mais en s'appuyant sur des outils numériques tels que des outils d'aides à la
            décision, on évite, ou du moins on miniminise les erreurs. </p>
        </div>

      </div>
      <div class="card">
        <div class="icon">
          <i class="fa-solid fa-face-sad-tear"></i>
        </div>
        <div class="info">
          <h3>Diminuer le stress</h3>
          <p>Lié à l'exercice de la profession. En délégant une partie des tâches à l'informatique, le personnel peut
            prendre de tepms sur d'autres tâches.Ainsi, les outils ont une vertue réconfortante et sécurusante </p>
        </div>


      </div>

    </div>
  </section>