<div class="container rounded bg-white mt-5 mb-5" id="print-me">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <div class="row">
        <h6>HOPITAL UNIVERSITAIRE FARHET HACHED SOUSSE </h6>
        <h6>Direction Technique </h6>
        <div class="titre">  <h5>Date  </h5>  <input id="date" type="date" >

        </div>
       
        <div class="col-md-5 ">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">TELEFAX MESSAGE   </h4>
                </div>
                
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="text-right"><strong>DE LA PART : </strong>DIRECTEUR GENERAL DE L'HOPITAL  </h6>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="text-right"><strong> DESTINATAIRE : </strong>DIRECTEUR DU CETEM-BH TUNIS   </h6> 
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    
                    <h6 class="text-right"><strong>  </strong>FAX N° : 71 570 701 / 73 821 840  </h6>
                </div>
                
            
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="text-right"><strong> OBJET : </strong>Demande de reception des travaux   </h6>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="text-left"><strong> TEXTE : </strong> <p>J'ai l'honneur de vous prier de bien vouloir charger vos services compétents pour mener une reception des travaux sur l'équipement suivant  </p> </h6> 
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Equipement</label><input type="text" [(ngModel)]="Newtravaux.dispositif"class="form-control" placeholder="equipement" value=""></div>
                    <div class="col-md-6"><label class="labels">Marque </label><input type="text" [(ngModel)]="Newtravaux.marque"class="form-control" value="" placeholder="marque"></div>
                    <div class="col-md-6"><label class="labels">Modele</label><input type="text"[(ngModel)]="Newtravaux.modele" class="form-control" placeholder="modele " value=""></div>
                    <div class="col-md-6"><label class="labels">Num°serie</label><input type="text"[(ngModel)]="Newtravaux.numserie" class="form-control" placeholder="num°serie" value=""></div>
                    <div class="col-md-6"><label class="labels">Service affecté</label><input type="text"[(ngModel)]="Newtravaux.seraffecte" class="form-control" placeholder="service affecté" value=""></div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Qui présente les anomalies suivantes  </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="text-left"> Dans l'attente d'une procédure rapide ,veuillez agréer ,Monsieur mes salutations distinguées. </h6>
                </div>
               
                <button (click)=" addtra()" class="btn btn-success"  >Enregistrer</button>
                <button  type ="submit" class="btn btn-primary" printSectionId="print-me" ngxPrint><i class="fa-solid fa-print"></i> Imprimer </button>

            </div>
        </div>
        <div class="titre"><h5>Direction Technique </h5>
        </div>
        
    </div>
</div>
