<div class="container">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

  <div class="mt-4">
    <h2>Ajouter un équipement </h2>
  </div>
  <form #equipForm ="ngForm"  (ngSubmit) ="addequipement()">

    <!-- <div class="formulair"> -->
      <div class="f1">
       
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label>NumInventaire Equipement</label>
          <input type="text" [(ngModel)]="newEquipement.NumInventaire"
           name="numInventaireEquipement" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
          <label>Famille Equipement</label>
          <input  type="text" [(ngModel)]="newEquipement.Famille" name="familleEquipement" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label>Nom Equipement</label>
          <input  type="text" [(ngModel)]="newEquipement.Nom" name="nomEquipement" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label>Marque Equipement</label>
          <input type="text" [(ngModel)]="newEquipement.Marque" name="marqueEquipement" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label>Modele Equipement</label>
          <input type="text" [(ngModel)]="newEquipement.Modele" name="modeleEquipement" class="form-control">
        </div>
      </div>
      <div class="f2">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label>Nserie Equipement </label>
          <input type="text" [(ngModel)]="newEquipement.Nserie " name="nserie Equipement" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label>Fournisseur Equipement </label>
          <input type="text" [(ngModel)]="newEquipement.Fournisseur " name="fournisseur Equipement"
            class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label>Mser Equipement </label>
          <input type="date" [(ngModel)]="newEquipement.Mser " name="mser Equipement" class="form-control">
        </div>
       
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label>Origine Equipement </label>
          <input type="text" [(ngModel)]="newEquipement.Origine " name="origine Equipement" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label>service </label>
          <select name ="nomservice" [(ngModel)]="selectedValue"   #nomservice="ngModel" [(ngModel)]="newEquipement.service" >
            <option  *ngFor="let a of service" [ngValue]="a.nomservice" >{{a.nomservice}}</option>
        </select>
        </div>
      </div>
      <div class="mt-2">
        
        <button  class="btn btn-success"><i class="fa-solid fa-circle-plus"></i>Ajouter</button>

        <div>

          <h3> {{message}} </h3>
        </div>
      </div>
    <!-- </div> -->





  </form>
</div>